###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
ExperimentationAndExpansion/.idea/.idea.ExperimentationAndExpansion/.idea/workspace.xml
ExperimentationAndExpansion/.idea/.idea.ExperimentationAndExpansion/.idea/projectSettingsUpdater.xml
ExperimentationAndExpansion/Logs/AssetImportWorker0-prev.log
ExperimentationAndExpansion/Logs/AssetImportWorker0.log
ExperimentationAndExpansion/Logs/AssetImportWorker1-prev.log
ExperimentationAndExpansion/Logs/AssetImportWorker1.log
ExperimentationAndExpansion/Logs/AssetImportWorker10.log
ExperimentationAndExpansion/Logs/AssetImportWorker11.log
ExperimentationAndExpansion/Logs/AssetImportWorker12.log
ExperimentationAndExpansion/Logs/AssetImportWorker13.log
ExperimentationAndExpansion/Logs/AssetImportWorker2.log
ExperimentationAndExpansion/Logs/AssetImportWorker3.log
ExperimentationAndExpansion/Logs/AssetImportWorker4.log
ExperimentationAndExpansion/Logs/AssetImportWorker5.log
ExperimentationAndExpansion/Logs/AssetImportWorker6.log
ExperimentationAndExpansion/Logs/AssetImportWorker7.log
ExperimentationAndExpansion/Logs/AssetImportWorker8.log
ExperimentationAndExpansion/Logs/AssetImportWorker9.log
ExperimentationAndExpansion/Logs/shadercompiler-UnityShaderCompiler.exe0.log
ExperimentationAndExpansion/Logs/shadercompiler-UnityShaderCompiler.exe1.log
ExperimentationAndExpansion/Logs/shadercompiler-UnityShaderCompiler.exe10.log
ExperimentationAndExpansion/Logs/shadercompiler-UnityShaderCompiler.exe11.log
ExperimentationAndExpansion/Logs/shadercompiler-UnityShaderCompiler.exe12.log
ExperimentationAndExpansion/Logs/shadercompiler-UnityShaderCompiler.exe13.log
ExperimentationAndExpansion/Logs/shadercompiler-UnityShaderCompiler.exe14.log
ExperimentationAndExpansion/Logs/shadercompiler-UnityShaderCompiler.exe15.log
ExperimentationAndExpansion/Logs/shadercompiler-UnityShaderCompiler.exe16.log
ExperimentationAndExpansion/Logs/shadercompiler-UnityShaderCompiler.exe17.log
ExperimentationAndExpansion/Logs/shadercompiler-UnityShaderCompiler.exe18.log
ExperimentationAndExpansion/Logs/shadercompiler-UnityShaderCompiler.exe19.log
ExperimentationAndExpansion/Logs/shadercompiler-UnityShaderCompiler.exe2.log
ExperimentationAndExpansion/Logs/shadercompiler-UnityShaderCompiler.exe20.log
ExperimentationAndExpansion/Logs/shadercompiler-UnityShaderCompiler.exe21.log
ExperimentationAndExpansion/Logs/shadercompiler-UnityShaderCompiler.exe3.log
ExperimentationAndExpansion/Logs/shadercompiler-UnityShaderCompiler.exe4.log
ExperimentationAndExpansion/Logs/shadercompiler-UnityShaderCompiler.exe5.log
ExperimentationAndExpansion/Logs/shadercompiler-UnityShaderCompiler.exe6.log
ExperimentationAndExpansion/Logs/shadercompiler-UnityShaderCompiler.exe7.log
ExperimentationAndExpansion/Logs/shadercompiler-UnityShaderCompiler.exe8.log
ExperimentationAndExpansion/Logs/shadercompiler-UnityShaderCompiler.exe9.log
ExperimentationAndExpansion/UserSettings/Layouts/default-2022.dwlt
ExperimentationAndExpansion/UserSettings/Search.index
ExperimentationAndExpansion/UserSettings/Search.settings
